html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

}
*:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

sup{
    vertical-align: super;
    line-height: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End Mayer's reset */

em {
    font-style: italic;
}
em.regul {
    font-weight: 400;
}
em.emphasis {

    font-style: italic;
    font-family: 'Myriad Pro', 'Trebuchet MS', Trebuchet, Arial, Helvetica, sans-serif;
}

strong, b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgba(244, 18, 36, 1);
}
a:visited {
    color: rgba(55, 0, 115, 1);
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 114, 255, 1);
}
html, body, .container {
    min-height: 100%;
}

html {
    font: normal 10px/10px sans-serif;
}
body {
    width: 100%;
    background-color: rgba(243, 244, 246, 1);
    line-height: 1;
}
.header__container {
    height: 56rem;
    background-image: url("../img/header/640/header-mechanic-560.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header__column {
    height: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
}

/* Начало: Модификаторы*/
.overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.fullwide {
    width: 100%;
}
.wideadaptive {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    overflow: hidden;
    font: normal normal 1.6rem/1.25 'PT Sans', Arial, Helvetica, sans-serif;
    color: rgba(80, 80, 80, 1);
    text-align: left;
}
.singlecol {
    width: 100%;
    max-width: 48rem;
    padding: 0.8rem;
    margin: 0 auto;
}
.singleheadcol {
    width: 100%;
    max-width: 48rem;
    padding: 0 0.8rem;
    margin: 0 auto;
}
#storename__kalilaska {
    position: absolute;
    top: 6.4rem;
    z-index: 2;
}
#panel__phoneshedule {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.headindents {
    padding: 0 0 6rem 0;
}
.textual {

}
.textual h1 {
    font: normal bold 5.2rem/1 'PT Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 1);
}
.textual h2 {
    padding: 1.6rem 0 0;
    font: normal bold 5.4rem/1 'PT Sans', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
}
.textual h3 {
    padding: 1.6rem 0 0;
    font: normal normal 3rem/1.2 'PT Sans', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
}
.textual h4 {
    padding: 1.8rem 0 0;
    font: normal normal 3rem/1 'PT Sans', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
}
.textual h5 {
    padding: 0;
    font: normal normal 2.5rem/1 'PT Sans', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
}

/* Конец: Модификаторы*/
