html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

sup{
    vertical-align: super;
    line-height: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End Mayer's reset */

em {
    font-style: italic;
}
em.regul {
    font-weight: 400;
}
em.emphasis {
    font-style: italic;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

a {
    text-decoration: none;
    color: rgba(244, 18, 36, 1);
}
a:visited {
    color: rgba(55, 0, 115, 1);
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 114, 255, 1);
}
html, body {
    min-height: 100%;
}

html {
    font: normal 10px/10px sans-serif;
}
body {
    width: 100%;
    background-color: rgba(243, 244, 246, 1);
    line-height: 1;

}
.header__container {
    height: 56rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
}
.header__overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header__column {
    height: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
}
.storecategories__container {
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
}
.storeadvantages__container {
    background: rgba(60, 180, 226, 1) no-repeat center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 1);
}
.storestuff__container {
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
    color: rgba(255, 255, 255, 1);
}

/* Начало: Модификаторы*/

.overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.fullwide {
    width: 100%;
}
.wideadaptive {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    overflow: hidden;
    font: normal normal 1.6rem/1.25 'PT Sans', Arial, Helvetica, sans-serif;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.opaciting {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms;
}
.opaciting:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.opaciting2 {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 300ms;
}
.opaciting2:hover {
    background-color: rgba(0, 0, 0, 0);
}
.opaciting3 {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms;
}
.opaciting3:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.singlecol {
    width: 100%;
    max-width: 48rem;
    padding: 5.6rem 0;
    margin: 0 auto;
    overflow: hidden;
}
.singleheadcol {
    width: 100%;
    max-width: 48rem;
    padding: 0 1.6rem;
    margin: 0 auto;
    overflow: hidden;

}
.categorcol {
    width: 100%;
    max-width: 48rem;
    padding: 5.6rem 0;
    margin: 0 auto;
    overflow: hidden;
}
#storename__kalilaska {
    position: absolute;
    top: 6.4rem;
    z-index: 2;
    white-space: nowrap;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}
#panel__phoneshedule {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.headindents {
    padding: 0 0 5.6rem 0;
    white-space: nowrap;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}
.representindents {
    padding: 6rem 0;
    color: rgba(90, 90, 90, 0.7);
}
.categorwide {
    width: 50%;
    float: left;
    clear: right;
}
.categormount {
    padding: 2rem 0.8rem;
    text-align: center;
    border-radius: 0.8rem;
    color: rgba(255, 255, 255, 255);
    transition: 300ms;
}
.categorwrapper {
    width: 100%;
    max-width: 14rem;
    padding: 1.6rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 500ms;
}

.categorcircleimg {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    background: transparent no-repeat center;
    background-size: 100%;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    opacity: 1;
}
#categories__oils:hover:after, #categories__battery:hover:after, #categories__wheels:hover:after, #categories__cosmetics:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: transparent no-repeat center;
    background-size: 100%;
    z-index: 1;
    transition: 500ms;
    display: none;
}

#categories__oils {
    background-image: url("../img/categories-pic/640/oils-gs-128.png");
}
#categories__battery {
    background-image: url("../img/categories-pic/640/battery-gs-128.png");
}
#categories__wheels {
    background-image: url("../img/categories-pic/640/wheels-gs-128.png");
}
#categories__cosmetics {
    background-image: url("../img/categories-pic/640/cosmetics-gs-128.png");
}

#categories__oils:hover:after {
    background-image: url("../img/categories-pic/640/oils-rgb-128.png");
    display: block;
}
#categories__battery:hover:after {
    background-image: url("../img/categories-pic/640/battery-rgb-128.png");
    display: block;
}
#categories__wheels:hover:after {
    background-image: url("../img/categories-pic/640/wheels-rgb-128.png");
    display: block;
}
#categories__cosmetics:hover:after {
    background-image: url("../img/categories-pic/640/cosmetics-rgb-128.png");
    display: block;
}

#storestuff__mishka {
    background-image: url("../img/stuff/640/mishka.jpg");
}
#storestuff__andrei {
    background-image: url("../img/stuff/640/tarashkevichava.jpg");
}

.categorsignindents {
    padding-top: 1.2rem;
}
.timesaveindents {
    padding: 4rem 0;
}
.consultindents {
    padding: 1.2rem 0 6rem;
    color: rgba(90, 90, 90, 0.7);
}
.productslide-indents {
    padding: 0.8rem;
    background: rgba(255, 255, 255, 1);

}
.galleryindents {
    width: 100%;
    height: auto;
    padding-bottom: 75%;
    position: relative;
    background-size: 48.75% auto;
    background-repeat: no-repeat;
    background-position: right center;
}
.productwrapindents {
    padding: 0;
    margin: 0 auto 8rem;
    box-shadow: 0 1rem 2rem -2.4rem rgba(0, 0, 0, 1), 0 -1rem 2rem -2.4rem rgba(0, 0, 0, 1);
}
#firstproductslide {
    background-image: url("../img/products/640/liquid-totallhmplus.png");
}
#secondproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}
#thirdproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}
#fourproductslide {
    background-image: url("../img/products/640/liquid-totallhmplus.png");
}
#fifthproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}

.color-indents {
    width: 100%;
    max-width: 48.75%;
    padding: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(40, 170, 226, 0.6);
    color: rgba(255, 255, 255, 1);
}
.advanced-info {
    display: none;
}

.adaptiveimg {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.adaptiveimg img {
    width: 100%;
    max-width: 12rem;
    height: auto;
    margin: 0 auto;
}
.advantageindents {
    padding: 4rem 0;
}
.borderframing {
    width: 100%;
    height: 0.4rem;
    font-size: 0;
    line-height: 0;
    background-color: rgba(60, 180, 226, 1);
}
.stuffwrapper {
    max-width: 18rem;
    margin: 0 auto;
    border: 0.4rem solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: 500ms;
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    line-height: 0;
}
.stuffwrapper:hover {
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.6);
}

.stuffcellindents {
    padding: 4.8rem 0;
}
.stuffpanelindents {
    max-width: 20rem;
    padding: 0 1.6rem 0.6rem;
    margin: 0 auto;
    line-height: 1;
    white-space: nowrap;
    background: rgba(60, 180, 226, 1);
    border-radius: 0 0 0.8rem 0.8rem;
    position: relative;
    display: block;
    z-index: 2;
}
.stuffnamesindents {
    padding: 2.4rem 0 0;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 1);
    letter-spacing: 0.1rem;
}
.sliderstuff {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slidepos {
    width: 3.2rem;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 3;

}
.typonavi {
    height: 3.2rem;
    margin: auto;
    font-size: 3.2rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
}
.rightnavi {
    right: 0;
}
.leftnavi {
    left: 0;
}
.rightnavi:hover .typonavi, .leftnavi:hover .typonavi {
    color: rgba(255, 255, 255, 0.6);
}

.rightpositsymbol {
    left: 0;
}
.leftpositsymbol {
    right: 0;
}

.addresindents {
    padding: 6rem 0 3.2rem;
    color: rgba(90, 90, 90, 0.8);
}
.clearfixing {
    width: 100%;
    height: 0;
    margin: 0;
    color: transparent;
    background-color: transparent;
    border:0 none;
    display: block;
}
.footerbgcolor {
    background-color: rgba(70, 95, 105, 1);
    color: rgba(255, 255, 255, 0.4);
}
.footercontent {
    padding: 2.4rem 0;
}
/* Начало: Типография*/

.stufftypocolor {
    color: rgba(80, 80, 80, 1);
}
.mapscolindents {
    line-height: 0;
}
.textcentring {
    text-align: center;
}
.textual {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    overflow: hidden;
}
.textual h1 {
    font-size: 4.8rem;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.textual h2 {
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: bold;
}
.textual h3 {
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: normal;
}
.textual h4 {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: normal;
}
.textual h5 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
}
.textual h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}
.textual p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
}
.textual a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
a[href^="tel"] {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.textual a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
.textual-small {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
}
.textual-small p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
}
.textual-small h4 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: normal;
}
.textual-small h5 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: normal;
}
.textproduct {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    overflow: hidden;
}

.textproduct h1 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
}
.textproduct h2 {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: normal;
}
.textproduct h3 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h4 {
    padding-top: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h5 {
    padding-top: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h6 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
}
.textproduct p {
    padding-top: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct sup {
    font-size: 60%;
    line-height: 0;
}
.textproduct a {
    color: inherit;
    text-decoration: none;
}
.textproduct a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
/* Конец: Типография*/

/* Конец: Модификаторы*/
@media all and (max-width: 320px) and (min-width: 160px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/640/mercedes-benz-bg-320x2.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/640/ferrari-bg-320x2.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/640/engine-bg-320x2.jpg");
    }
}
@media all and (max-width: 400px) and (min-width: 321px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/800/mercedes-benz-bg-400x2.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/800/ferrari-bg-400x2.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/800/engine-bg-400x2.jpg");
    }
}
@media all and (max-width: 480px) and (min-width: 401px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/960/mercedes-benz-bg-480x2.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/960/ferrari-bg-480x2.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/960/engine-bg-480x2.jpg");
    }
}
@media all and (max-width: 560px) and (min-width: 481px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/1120/mercedes-benz-bg-560x2.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/1120/ferrari-bg-560x2.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/1120/engine-bg-560x2.jpg");
    }
}
@media all and (max-width: 640px) and (min-width: 561px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/640/mercedes-benz-bg-640x1.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/640/ferrari-bg-640x1.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/640/engine-bg-640x1.jpg");
    }
}
@media all and (max-width: 800px) and (min-width: 641px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/800/mercedes-benz-bg-800x1.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/800/ferrari-bg-800x1.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/800/engine-bg-800x1.jpg");
    }
}
@media all and (max-width: 960px) and (min-width: 801px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/960/mercedes-benz-bg-960x1.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/960/ferrari-bg-960x1.jpg");
        background-size: 100% auto;
        background-position: center bottom;
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/960/engine-bg-960x1.jpg");
    }
}
@media all and (max-width: 1120px) and (min-width: 961px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/1120/mercedes-benz-bg-1120x1.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/1120/ferrari-bg-1120x1.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/1120/engine-bg-1120x1.jpg");
    }
}
@media all and (max-width: 1280px) and (min-width: 1121px) {
    .header__container {
        background-image: url("../img/header/mercedes-benz-bg/1280/mercedes-benz-bg-1280x1.jpg");
    }
    .storecategories__container {
        background-image: url("../img/categories-pic/ferrari-bg/1280/ferrari-bg-1280x1.jpg");
    }
    .storestuff__container {
        background-image: url("../img/stuff/engine-bg/1280/engine-bg-1280x1.jpg");
    }
}


@media all  and (max-width: 400px) and (min-width: 361px) {
    #storename__kalilaska {
        top: 5.6rem;
    }
    .textual h1 {
        font-size: 5.6rem;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .textual h2 {
        font-size: 3.6rem;
        line-height: 1.3;
        font-weight: bold;
    }
    .textual h3 {
        font-size: 3.2rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h4 {
        font-size: 2.8rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h5 {
        font-size: 2.2rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textual h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .textual p {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: normal;
    }
}
@media all and (max-width: 560px) and (min-width: 401px) {
    #storename__kalilaska {
        top: 4rem;
    }
    .color-indents {
        width: 100%;
        max-width: 48%;
        padding: 0.8rem;

    }
    .galleryindents {
        background-size: 48% auto;
    }

    .textual h1 {
        font-size: 6.2rem;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .textual h2 {
        font-size: 4rem;
        line-height: 1.3;
        font-weight: bold;
    }
    .textual h3 {
        font-size: 3.6rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h4 {
        font-size: 3.2rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h5 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textual h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .textual p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: normal;
    }

    .textproduct h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: bold;
    }
    .textproduct h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: normal;
    }
    .textproduct h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textproduct h4 {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h5 {
        padding-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h6 {
        font-size: 2rem;
        line-height: 1.6rem;
        font-weight: bold;
    }
    .textproduct p {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct sup {
        font-size: 60%;
        line-height: 0;
    }
    .textproduct a {
        color: inherit;
        text-decoration: none;
    }
    .textproduct a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }
}
@media all and (max-width: 640px) and (min-width: 561px) {
    #storename__kalilaska {
        top: 3.2rem;
    }
    .headindents {
        padding: 0 0 4.8rem 0;
    }
    .productslide-indents {
        padding: 7%;
    }
    .color-indents {
        width: 100%;
        max-width: 46%;
        padding: 1.6rem;
        left: 0;
        bottom: 0;
    }
    .galleryindents {
        background-size: 46% auto;
        background-position: right center;
        padding-bottom: 66%;
    }

    .advanced-info {
        display: block;
    }
    .textual h1 {
        font-size: 6.2rem;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .textual h2 {
        font-size: 5rem;
        line-height: 6.4rem;
        font-weight: bold;
    }
    .textual h3 {
        font-size: 3.6rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h4 {
        font-size: 3.2rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h5 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textual h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .textual p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: normal;
    }

    .textproduct h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: bold;
    }
    .textproduct h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: normal;
    }
    .textproduct h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textproduct h4 {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h5 {
        padding-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h6 {
        font-size: 2rem;
        line-height: 1.6rem;
        font-weight: bold;
    }
    .textproduct p {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct sup {
        font-size: 60%;
        line-height: 0;
    }
    .textproduct a {
        color: inherit;
        text-decoration: none;
    }
    .textproduct a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }

}
@media all and (max-width: 800px) and (min-width: 641px) {

    .wideadaptive {
        max-width: 80rem;
    }
    .singlecol, .singleheadcol {
        max-width: 64rem;
    }
    #storename__kalilaska {
        top: 3.2rem;
    }
    .headindents {
        padding: 0 0 3.6rem 0;
    }
    .productslide-indents {
        padding: 7%;
    }
    .color-indents {
        width: 100%;
        max-width: 46%;
        padding: 1.6rem;
        left: 0;
        bottom: 0;
    }
    .galleryindents {
        background-size: 46% auto;
        background-position: right center;
        padding-bottom: 66%;
    }

    .advanced-info {
        display: block;
    }
    .textual h1 {
        font-size: 6.2rem;
        line-height: 8rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .textual h2 {
        font-size: 5rem;
        line-height: 6.4rem;
        font-weight: bold;
    }
    .textual h3 {
        font-size: 3.6rem;
        line-height: 5.2rem;
        font-weight: normal;
    }
    .textual h4 {
        font-size: 3.2rem;
        line-height: 1.4;
        font-weight: normal;
    }
    .textual h5 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textual h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .textual p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: normal;
    }

    .textproduct h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: bold;
    }
    .textproduct h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: normal;
    }
    .textproduct h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textproduct h4 {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h5 {
        padding-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h6 {
        font-size: 2rem;
        line-height: 1.6rem;
        font-weight: bold;
    }
    .textproduct p {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct sup {
        font-size: 60%;
        line-height: 0;
    }
    .textproduct a {
        color: inherit;
        text-decoration: none;
    }
    .textproduct a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }

}
@media all and (max-width: 960px) and (min-width: 801px) {

    .wideadaptive {
        max-width: 96rem;
    }
    .singlecol, .singleheadcol {
        max-width: 64rem;
    }
    #storename__kalilaska {
        top: 3.2rem;
    }
    .headindents {
        padding: 0 0 3.6rem 0;
    }
    .representindents {
        padding: 8rem 0;
    }
    .consultindents {
        padding: 1.6rem 0 7.2rem;
    }
    .categorcol {
        max-width: 100%;
        padding: 8rem 0;
    }
    .categorwide {
        width: 25%;
        display: inline-block;
        white-space: nowrap;
    }
    .clearfixing {
        display: none;
    }

    .adaptiveimg img {
        max-width: 16rem;
    }
    .productslide-indents {
        padding: 7%;
    }
    .color-indents {
        width: 100%;
        max-width: 46%;
        padding: 1.6rem;
        left: 0;
        bottom: 0;
    }
    .galleryindents {
        background-size: 46% auto;
        background-position: right center;
        padding-bottom: 66%;
    }

    .advanced-info {
        display: block;
    }
    .sliderstuff {
        max-width: 32rem;
    }

    .textual h1 {
        font-size: 6.2rem;
        line-height: 8rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .textual h2 {
        font-size: 5rem;
        line-height: 6.4rem;
        font-weight: bold;
    }
    .textual h3 {
        font-size: 3.6rem;
        line-height: 5.2rem;
        font-weight: normal;
    }
    .textual h4 {
        font-size: 3.2rem;
        line-height: 3.6rem;
        font-weight: normal;
    }
    .textual h5 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textual h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .textual p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: normal;
    }

    .textproduct h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: bold;
    }
    .textproduct h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: normal;
    }
    .textproduct h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: normal;
    }
    .textproduct h4 {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h5 {
        padding-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct h6 {
        font-size: 2rem;
        line-height: 1.6rem;
        font-weight: bold;
    }
    .textproduct p {
        padding-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
    .textproduct sup {
        font-size: 60%;
        line-height: 0;
    }
    .textproduct a {
        color: inherit;
        text-decoration: none;
    }
    .textproduct a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }

}

/* Начало: Модификаторы*/
/* Конец: Модификаторы*/
/* Начало: Типография*/
/* Конец: Типография*/
