html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

sup{
    vertical-align: super;
    line-height: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End Mayer's reset */

em {
    font-style: italic;
}
em.regul {
    font-weight: 400;
}
em.emphasis {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgba(244, 18, 36, 1);
}
a:visited {
    color: rgba(55, 0, 115, 1);
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 114, 255, 1);
}
html, body {
    min-height: 100%;
}

html {
    font: normal 10px/10px sans-serif;
}
body {
    width: 100%;
    background-color: rgba(243, 244, 246, 1);
    line-height: 1;

}
.header__container {
    height: 56rem;
    background: url("../img/header/640/header-bg-mechanic-640.jpg") no-repeat left center;
    background-size: auto 100%;
    position: relative;
}
.header__overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header__column {
    height: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
}
.storecategories__container {
    background: rgba(0, 0, 0, 1) url("../img/categories-pic/640/categories-bg-service.jpg") no-repeat top left;
    background-size: auto 100%;
    position: relative;
}
.storeadvantages__container {
    background: rgba(0, 0, 0, 1) url("../img/categories-pic/640/timesave-bg-hand.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 1);
}
.storestuff__container {
    background: rgba(0, 0, 0, 1) url("../img/categories-pic/640/timesave-bg-hand.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 1);
}

/* Начало: Модификаторы*/

.overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.fullwide {
    width: 100%;
}
.wideadaptive {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    overflow: hidden;
    font: normal normal 1.6rem/1.25 'PT Sans', Arial, Helvetica, sans-serif;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.opaciting {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms;
}
.opaciting:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.singlecol {
    width: 100%;
    max-width: 48rem;
    padding: 5.2rem 0;
    margin: 0 auto;
    overflow: hidden;
}
.singleheadcol {
    width: 100%;
    max-width: 48rem;
    padding: 0 0.8rem;
    margin: 0 auto;
    overflow: hidden;

}
#storename__kalilaska {
    position: absolute;
    top: 3.6rem;
    z-index: 2;
}
#panel__phoneshedule {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.headindents {
    padding: 0 0 5.6rem 0;
}
.representindents {
    padding: 8rem 0;
}
.categorwide {
    width: 50%;
    padding: 0.8rem;
    float: left;
    clear: right;
}
.categormount {
    padding: 2.4rem;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-radius: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
    transition: 300ms;
}
.categormount:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.categorwrapper {
    width: 100%;
    max-width: 17.6rem;
    padding: 2.4rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 500ms;
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.1);
}
.categorwrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.3);
}
.categorcircleimg {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    background: transparent no-repeat center;
    background-size: 100%;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    opacity: 1;
}
#categories__oils:hover:after, #categories__battery:hover:after, #categories__wheels:hover:after, #categories__cosmetics:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: transparent no-repeat center;
    background-size: 100%;
    z-index: 1;
    transition: 500ms;
    display: none;
}

#categories__oils {
    background-image: url("../img/categories-pic/640/oils-gs-128.png");
}
#categories__battery {
    background-image: url("../img/categories-pic/640/battery-gs-128.png");
}
#categories__wheels {
    background-image: url("../img/categories-pic/640/wheels-gs-128.png");
}
#categories__cosmetics {
    background-image: url("../img/categories-pic/640/cosmetics-gs-128.png");
}

#categories__oils:hover:after {
    background-image: url("../img/categories-pic/640/oils-rgb-128.png");
    display: block;
}
#categories__battery:hover:after {
    background-image: url("../img/categories-pic/640/battery-rgb-128.png");
    display: block;
}
#categories__wheels:hover:after {
    background-image: url("../img/categories-pic/640/wheels-rgb-128.png");
    display: block;
}
#categories__cosmetics:hover:after {
    background-image: url("../img/categories-pic/640/cosmetics-rgb-128.png");
    display: block;
}

#storestuff__mishka {
    background-image: url("../img/stuff/640/mishka.jpg");
}
#storestuff__andrei {
    background-image: url("../img/stuff/640/tarashkevichava.jpg");
}

.categorsignindents {
    padding-top: 1.6rem;
}
.timesaveindents {
    padding: 6rem 0;
}
.consultindents {
    padding: 3.2rem 0 8rem;
}
.productslide-indents {
    padding: 4rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1rem 2rem -2.4rem rgba(0, 0, 0, 1), 0px -1rem 2rem -2.4rem rgba(0, 0, 0, 1);
}
.galleryindents {
    width: 100%;
    height: auto;
    padding-bottom: 75%;
    position: relative;
    background-size: 28rem auto;
    background-repeat: no-repeat;
    background-position: center right;
}
.productwrapindents {
    padding: 4.8rem 0 8rem 0;
}
#firstproductslide {
    background-image: url("../img/products/640/liquid-totallhmplus.png");
}
#secondproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}
#thirdproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}
#fourproductslide {
    background-image: url("../img/products/640/liquid-totallhmplus.png");
}
#fifthproductslide {
    background-image: url("../img/products/640/filter-bosch.png");
}

.color-indents {
    width: 100%;
    max-width: 24rem;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(40, 170, 226, 0.6);
    color: rgba(255, 255, 255, 1);
}

.adaptiveimg {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.adaptiveimg img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin: 0 auto;
}
.advantageindents {
    padding: 6rem 0;
}
.stuffwrapper {
    max-width: 20.8rem;
    margin: 0 auto;
    border: 0.4rem solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: 500ms;
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    line-height: 0;
}
.stuffwrapper:hover {
    box-shadow: 0 0 1.6rem 0.1rem rgba(0, 0, 0, 0.6);
}

.stuffcellindents {
    padding: 4.8rem 0;
}
.stuffpanelindents {
    padding: 2.4rem 1.6rem 0;
}
.sliderstuff {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slidepos {
    width: 20%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 3;

}
.typonavi {
    height: 3.2rem;
    margin: auto;
    font-size: 3.2rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
}
.rightnavi {
    right: 0;
}
.leftnavi {
    left: 0;
}
.rightnavi:hover .typonavi, .leftnavi:hover .typonavi {
    color: rgba(255, 255, 255, 0.6);
}

.rightpositsymbol {
    left: 1.6rem;
}
.leftpositsymbol {
    right: 1.6rem;
}

.addresindents {
    padding: 8rem 0 3.2rem;
}
.clearfixing {
    width: 100%;
    height: 0;
    margin: 0;
    color: transparent;
    background-color: transparent;
    border:0 none;
    display: block;
}
/* Начало: Типография*/

.stufftypocolor {
    color: rgba(80, 80, 80, 1);
}
.textcentring {
    text-align: center;
}
.textual {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    overflow: hidden;
}
.textual h1 {
    font-size: 5.2rem;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.textual h2 {
    font-size: 5.2rem;
    line-height: 1.3;
    font-weight: bold;
}
.textual h3 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}
.textual h4 {
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: normal;
}
.textual h5 {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: normal;
}
.textual h6 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
}
.textual p {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: normal;
}
.textual a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
a[href^="tel"] {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.textual a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
.textual-small {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    overflow: hidden;
}
.textual-small p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
}
.textual-small h4 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: normal;
}
.textproduct {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    overflow: hidden;
}

.textproduct h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: bold;
}
.textproduct h2 {
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: normal;
}
.textproduct h3 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h4 {
    padding-top: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h5 {
    padding-top: 2.4rem;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct h6 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
}
.textproduct p {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
}
.textproduct sup {
    font-size: 60%;
    line-height: 0;
}
.textproduct a {
    color: inherit;
    text-decoration: none;
}
.textproduct a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
/* Конец: Типография*/

/* Конец: Модификаторы*/
